@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@layer base {
  .active_link {
    @apply text-secondary relative flex-1 after:w-full
    after:h-[1px] after:bg-secondary after:absolute after:-bottom-2 after:right-0;
  }
}
